<% def render_auth_nav(methods) %>
  <ul>
    <% methods.each do |method, info| %>
      <li>
        <a href="#auth-<%= method %>"><%= method.to_s.humanize %></a>
        <% if info[:resources] %>
          <ul>
            <% sort_hash(info[:resources]).each do |resource, info| %>
              <% render_resource_nav(resource.to_s, info, "auth-#{method}") %>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<% def render_resource_nav(resource, info, prefix='root') %>
    <li>
      <a href="#<%= "#{prefix}-#{resource}" %>">.<%= resource.humanize %></a>

      <ul>
        <% sort_hash(info[:actions]).each do |action, info| %>
            <li>
              <a href="#<%= "#{prefix}-#{resource}-#{action}" %>">#<%= action.capitalize %></a>
            </li>
        <% end %>

        <% sort_hash(info[:resources]).each do |r, i| %>
            <% render_resource_nav(r, i, "#{prefix}-#{resource}") %>
        <% end %>
      </ul>
    </li>
<% end %>

<h1>Authentication</h1>
<p class="authentication">
  <% if current_user %>
      Logged as <%= current_user.login %> [<a class="logout" href="<%= logout_url %>">logout</a>]
  <% else %>
      <a class="login btn btn-default" href="<%= url("#{root}_login") %>">Login</a>
  <% end %>
</p>
<p>
  <% if current_user %>
      Listing only accessible resources, actions and parameters.
  <% else %>
      Listing all resources, actions and parameters.
  <% end %>
</p>

<h1>Contents</h1>
<ul class="top-level">
  <li><a href="#api">API v<%= @v %></a></li>
  <li>
    <a href="#auth">Authentication</a>
    <% render_auth_nav(@help[:authentication]) %>
  </li>
  <li><a href="#resources">Resources</a></li>
  <% sort_hash(@help[:resources]).each do |resource, info| %>
      <% render_resource_nav(resource, info) %>
  <% end %>
</ul>

<h1>Browser</h1>
<p>
  Browse this API with <a href="https://github.com/vpsfreecz/haveapi-webui">haveapi-webui</a>:
</p>
<p>
  <a
    href="https://webui.haveapi.org/v<%= version %>/#<%= urlescape(base_url) %>"
    class="btn btn-default"
    target="_blank">
    Connect
  </a>
</p>
