<h1 id="api">API v<%= @v %></h1>

<ol class="breadcrumb">
  <li><a href="<%= root %>"><%= host %></a></li>
  <li class="active">v<%= @v %></li>
</ol>

<p>
  This page contains a list of resources available in API v<%= @v %>, their actions,
  description, parameters and example usage.
</p>

<p>
  This API is based on the <a href="https://github.com/vpsfreecz/haveapi">HaveAPI</a> framework.
  You can access it using existing clients:
</p>

<ul>
  <li><a href="https://github.com/vpsfreecz/haveapi-client" target="_blank">Ruby library and CLI</a></li>
  <li><a href="https://github.com/vpsfreecz/haveapi-client-js" target="_blank">JavaScript</a></li>
  <li><a href="https://github.com/vpsfreecz/haveapi-client-php" target="_blank">PHP</a></li>
  <li>
    <a href="https://github.com/vpsfreecz/haveapi-webui" target="_blank">Generic web interface</a>
    (<a href="https://webui.haveapi.org/v<%= version %>/#<%= escape(base_url) %>" target="_blank">connect to this API</a>)
  </li>
  <li><a href="https://github.com/vpsfreecz/haveapi-fs" target="_blank">FUSE-based file system</a></li>
</ul>

<p>
  The code examples found on this page are for HaveAPI v<%= version %>, so be sure
  to use clients of the same version.
</p>

<h2>Initialization</h2>

<div id="init-tabbar"></div>

<div id="init-examples">
  <% HaveAPI::ClientExample.clients.each_with_index do |client, i| %>
    <div id="<%= "init-#{i}" %>">
      <%= erb :"version_page/client_init", locals: {client: client} %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
nojsTabs({
  tabs: document.getElementById('init-examples'),
  titleSelector: 'h4',
  tabBar: document.getElementById('init-tabbar'),
  hiddenClass: 'tab-hidden',
  activeClass: 'active',
  createElement: function (el) {
    if (el.tagName == 'UL')
      el.classList.add('nav', 'nav-tabs');

    else if (el.tagName == 'LI')
      el.setAttribute('role', 'presentation');
  }
});
</script>

<h1 id="auth">Authentication methods</h1>
<% @help[:authentication].each do |name, info| %>
  <%= erb :"version_page/auth_body", locals: {name: name, info: info} %>
<% end %>

<h1 id="resources">Resources</h1>
<p>Follows a list of all resources in this API and their actions.</p>

<% sort_hash(@help[:resources]).each do |resource, info| %>
  <%=
    erb :"version_page/resource_body", locals: {
      resource: resource,
      info: info,
      path: [],
      prefix: 'root',
      name: nil,
    }
  %>
<% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    // Login/logout user
    $('.authentication a.login').click(function(event){
      $.ajax({
        type: 'GET',
        url: this.href,
        async: false,
        complete: function (){
          window.location.reload();
        }
      });

      event.preventDefault();
    });

    $('.authentication a.logout').click(function(event){
      $.ajax({
        type: 'GET',
        url: this.href,
        async: true,
        username: '_log',
        password: 'out',
        complete: function() {
          window.location.reload();
        }
      });

      event.preventDefault();
    });
  });
</script>
